@font-face {
  font-family: 'Prompt-Regular';
  src: url('./fonts/Prompt-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Prompt-Bold';
  src: url('./fonts/Prompt-Bold.ttf') format('truetype');
}

body{
  background-color: #131313;
  overflow-x: hidden;
}
.nav-container a{
  font-family: 'Prompt-Regular';
  font-size: 13px;
  margin: 0 15px;
}

.section{
  position: relative;
  
}

.sign-in-btn{
  margin-left: 90px;
  cursor: pointer;
}
.sign-in-btn-small{
  margin-left: 10px;
  cursor: pointer;
}

.start-now-btn{
  cursor: pointer;
}

.green-text{
  color: #7BF273;
}

.banner-bg{
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 100%;
}

.banner-title{
  font-family: 'Prompt-Regular';
  font-size: 60px;
  color: white;
  /* padding-top: 15%; */
  font-weight: bold;
}
.banner-title-sm{
  padding-top: 0;
  text-align: center;
  height: 25% !important;
}
.separator{
  height: 10px;
  background-color: #7BF273;
  width: 100%;
}
.separator.tiny{
  height: 5px;
}
.started-btn{
  background-color: transparent !important;
  color: #7BF273 !important;
  border: 3px solid #7BF273 !important;
  height: 45px !important;
  /* outline: 0px solid #7BF273; */

}
.banner-text{
  height: 100%;
  justify-content: center;
}
/* .banner-text > *{
  height: 50%;
} */

.text-align-center{
  text-align: center;
}

.section-2,.section-3,.section-4,.section-5,.section-6{
  background-color: #201c2b;
}
.footer{
  background-color: #131313;
}


.section-2-content{
  color: white;
  padding: 70px 25%;
  /* padding-top: 70px; */
}
.section-3-content{
  color: white;
  /* padding: 70px 10%; */
  /* padding-top: 70px; */
}

.section-3-content-content{
  gap: 20px;
  text-align: center;
}

.img-about-us{
  height: 400px;
  margin: auto;
  display: block;
}

.section-4-content{
  color: white;
  padding: 0 20%;
}
.section-4-content-sm{
  color: white;
  padding: 0 5%;
}

.about-us-title,.our-values-title,.the-team-title{
  font-weight: bolder;
  font-size: 50px;
}

.about-us-title{
  text-align: center;
}
.about-us-content{
  text-align: center;
}
.our-service-title{
  font-weight: bold;
  font-size: 60px;
}

.section-5{
  color: white;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.service-description{
  max-height: 0px;
  overflow: hidden;
  transition: max-height 2s;
}
.service-description.active{
  height: fit-content;
  max-height: 700px;
  transition: max-height 2s;
  
}
.section-6{
  color: white;
  padding-bottom: 100px;
}

.team-row{
  gap: 60px;
}

.margin-offset{
  margin-left: 28px;
}

.our-service-content-title{
  font-size: 40px;
  font-family: 'Prompt-Bold';
  text-decoration: underline;
  color: #7BF273;
}

.our-service-content-title-sm{
  width: min-content;
  text-align: center;
}

.about-us-below{
  font-size: 40px;
  font-weight: bolder;
  margin: 6rem 0;
}

.img-team{
  width: 300px;
}

.team-name{
  font-family: 'Prompt-Regular';
  color: #7BF273;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 30px;
  cursor: pointer;
}

.footer-media{
  gap: 10px
}

.header-gap{
  position: relative;
  top: 20px;
  width: 95% !important;
  height: 1px;
  background-color: white;
  margin: auto;
}
.header-gap-bot{
  position: relative;
  bottom: 50px;
  width: 95% !important;
  height: 1px;
  background-color: white;
  margin: auto;
}

.footer-gap{
  width: 95% !important;
  height: 1px;
  background-color: white;
  margin: auto;
}

.copyright-footer{
  color: white;
}

.social-media-img{
  cursor: pointer;
}