.input-form-contact{
    border: 2px solid black;
    border-radius: 0px;
    
}

.input-form-contact:focus{
    
    box-shadow: none;
}
.input-form-label{
    font-size: 16px;
    font-weight: bold;
}
.phone-diff{
    font-size: 12px;
    font-weight: normal;
}

.submit-contact-btn{
    background-color: #4d80ff;
    color: white;
    border-radius: 0px;
    font-weight: bolder;
    margin: auto;
    display: block;
}

/* .submit-contact-btn:hover{
    background-color: transparent;
    color: black;
    border: 2px solid black;
    font-weight: bolder;
} */

.contact-form-modal,body{
    padding: 0px !important;
}

.contact-form-modal .modal-content{
    border-radius: 20px;
}

html:has(.contact-form-modal){
    overflow: hidden;
}