.input-form-contact{
    border: 0;
    border-radius: 0px;
    border-bottom: 2px solid black;
    
}

.input-form-contact:focus{
    
    box-shadow: none;
}

.submit-contact-btn{
    border: 2px solid black;
    background-color: transparent;
    color: black;
    border-radius: 0px;
    font-weight: bolder;
}

.submit-contact-btn:hover{
    background-color: transparent;
    color: black;
    border: 2px solid black;
    font-weight: bolder;
}

.contact-form-modal,body{
    padding: 0px !important;
}
.contact-form-modal .modal-content{
    border-radius: 0;
}